<photo-preview
  *ngFor="let photo of results; let ind = index;"
  [photo]="photo" [ind] = "'panorama' + ind" >
</photo-preview>

<div class="photo-preview"
[hidden]="!loading">
Loading Photos..
</div>

<!--<div class="photo-preview"&ndash;&gt;
[hidden]="loading || results.length">
No photos are here... yet.
</div>-->

<!--<nav [hidden]="loading || totalPages <= 1">-->
<!--<ul class="pagination">-->

<!--<li class="page-item"-->
<!--[ngClass]="{'active': pageNumber === currentPage}"-->
<!--*ngFor="let pageNumber of totalPages"-->
<!--(click)="setPageTo(pageNumber)">-->

<!--<a class="page-link" href="#">{{ pageNumber }}</a>-->

<!--</li>-->

<!--</ul>-->
<!--</nav>-->
