
<div class="photo-preview">
<!--<photo-meta [photo]="photo">-->
    <!--<favorite-button
      [photo]="photo"
      (onToggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{photo.favoritesCount}}
    </favorite-button>-->
 <!-- </photo-meta>-->

  <!--Show photo preview in home component -->
<div class = "container-fluid pull-left">
    <div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature ">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-4by3">
         <div class ="panorama" id="panorama" [attr.id]="ind">

         </div>
        </div>
        <a [routerLink]="['/photo', photo.slug]" class="preview-link">
        <div class="caption">
          <h1>{{ photo.title }}</h1>
          <p>{{ photo.description }}</p>
        </div>
        </a>
        <div class ="container">
          <ul class="list-inline">
            <li><facebook></facebook></li>
            <li><i class="fa fa-2x fa-envelope-o"></i>
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>
</div>

  <!--./ end Show photo preview in home component -->

    <!--<h1>{{ photo.title }}</h1>
    <p>{{ photo.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
          *ngFor="let tag of photo.tagList">
        {{ tag }}
      </li>
    </ul>-->

<style>
  #panorama{
    height:350px;
    width:350px;
  }
  .panorama{
    height:350px;
    width:350px;
  }

  .pull-left {
    float: left !important;
  }

  .thumbnail{
    height: 425px;
    width: 350px;
  }
</style>
</div>

