<!-- Posted Comments -->
<!-- Comment -->
<div class="well>
  <!--<a> "[routerLink]="['/profile',comment.author.username]">-->
    <!--<img class="media-object" [src]="comment.author.image" alt="">-->
  <!--</a>-->
  <div class="well">
    <div class="well" [routerLink]="['/profile',comment.author.username]">
      {{comment.author.username}}
      {{comment.createdAt | date: 'longDate'}}
      <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()"></i>
    </span>
    </div>
  </div>
</div>
