<div class="auth-page">
  <div class="hold-transition login-page" id="login">
  <div class="login-box">
    <div class="login-logo">
      <img src = './assets/logo.png'>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">{{title}}</p>
    <list-errors [errors]="errors"></list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class = "form-group">
              <input formControlName="username"
                     placeholder="Username"
                     class="form-control"
                     type="text"
                     *ngIf="authType == 'register'" />
          </fieldset>

          <fieldset class = "form-group">

              <input formControlName="email"
                     placeholder="Email"
                     class="form-control"
                     type="text"/>


          </fieldset>


        <fieldset class = "form-group">

            <input formControlName="password"
                   placeholder="Password"
                   class="form-control"
                   type="password"/>


        </fieldset>



        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button class="btn btn-primary btn-block btn-flat" [disabled]="!authForm.valid" type="submit">{{title}} </button>
          </div>
          <!-- /.col -->
        </div>


      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
      </div>
      <!-- /.social-auth-links -->

      <a href="#">Forgot my password</a><br>
      <a [routerLink]="['/register']" *ngIf="authType == 'login'">Register a new account</a>
        </fieldset>
      </form>
    </div>
       <!-- /.login-box-body -->
    </div>
       <!-- /.login-box -->
     </div>
       <!--./hold transition-->
</div>
