<div class="auth-page">
  <div class="hold-transition login-page" id="login">
  <div class="login-box">
    <div class="login-logo">
      <img src = './assets/logo.png'>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">{{title}}</p>
    <list-errors [errors]="errors"></list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class = "form-group">
              <input formControlName="username"
                     placeholder="Username"
                     class="form-control"
                     type="text"
                     *ngIf="authType == 'register'" />
          </fieldset>

          <fieldset class = "form-group">
              <input formControlName="email"
                     placeholder="Email"
                     class="form-control"
                     type="text"
                     *ngIf="authType == 'register' || authType == 'login' || authType == 'forgot' "/>
          </fieldset>


        <fieldset class = "form-group">

            <input formControlName="password"
                   placeholder="Password"
                   class="form-control"
                   type="password"
                   *ngIf="authType == 'register' || authType == 'login' "/>
        </fieldset>

          <fieldset class="form-group" *ngIf="authType == 'register'">
            <label for="usertipo">Select membership:</label>
            <select formControlName="usertipo" class="form-control" id="usertipo">
              <option>{{usertipo[0]}}</option>
              <option>{{usertipo[1]}}</option>
              <option>{{usertipo[2]}}</option>
            </select>
          </fieldset>

          <!--forgot password-->

          <fieldset class="form-group" *ngIf="authType == 'forgot' || authType == 'register'">
            <label for="usertipo">Question 1:</label>
            <select formControlName="question1" class="form-control" id="question1">
              <option>{{questions[0]}}</option>
              <option>{{questions[1]}}</option>
              <option>{{questions[2]}}</option>
            </select>
          </fieldset>
          <fieldset class = "form-group">
            <input formControlName="question1"
                   placeholder="Answer"
                   class="form-control"
                   type="text"
                   *ngIf="authType == 'forgot' || authType == 'register'" />
          </fieldset>

          <fieldset class="form-group" *ngIf="authType == 'forgot' || authType == 'register'">
            <label for="usertipo">Question 2:</label>
            <select formControlName="question2" class="form-control" id="question2">
              <option>{{questions[0]}}</option>
              <option>{{questions[1]}}</option>
              <option>{{questions[2]}}</option>
            </select>
          </fieldset>

          <fieldset class = "form-group">
            <input formControlName="question2"
                   placeholder="Answer"
                   class="form-control"
                   type="text"
                   *ngIf="authType == 'forgot' || authType == 'register'" />
          </fieldset>

          <fieldset class="form-group" *ngIf="authType == 'forgot' || authType == 'register'">
            <label for="usertipo">Question 3:</label>
            <select formControlName="question3" class="form-control" id="question3">
              <option>{{questions[0]}}</option>
              <option>{{questions[1]}}</option>
              <option>{{questions[2]}}</option>
            </select>
          </fieldset>
          <fieldset class = "form-group">
            <input formControlName="question3"
                   placeholder="Answer"
                   class="form-control"
                   type="text"
                   *ngIf="authType == 'forgot' || authType == 'register'" />
          </fieldset>



          <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4" *ngIf="authType == 'register' || authType == 'login'">
            <button class="btn btn-primary btn-block btn-flat" [disabled]="!authForm.valid" type="submit">{{title}} </button>
          </div>
            <div class="col-xs-4" *ngIf="authType == 'forgot'">
              <button class="btn btn-primary btn-block btn-flat" [disabled]="!authForm.valid" type="submit">Submit</button>
            </div>
          <!-- /.col -->
        </div>


      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
      </div>
      <!-- /.social-auth-links -->

      <a [routerLink]="['/forgot']" >Forgot my password</a><br>
      <a [routerLink]="['/register']" *ngIf="authType == 'login'">Register a new account</a>









        </fieldset>
      </form>
    </div>
       <!-- /.login-box-body -->
    </div>
       <!-- /.login-box -->
     </div>
       <!--./hold transition-->
</div>
