
#panorama {
  width: 380px;
  height: 380px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #panorama {
    width: 600px;
    height: 400px;
  }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #panorama {
    width: 1138px;
    height: 400px;
  }
}
