<footer>
  <div class="container text-center">
    <p>
      Copyright © Helix Dev 2016
    </p>
    <ul class="list-inline banner-social-buttons">

      <li>
        <a href="www.facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
      </li>
      <li>
        <a href="www.instagram.com" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
      </li>
    </ul>

  </div>
</footer>
