<footer>
  <div class="container" id="footer">
    <ul class="list-inline" id="footerList">
      <li id ="copyright">
        <p>Copyright © Helix Dev 2016</p>
      </li>
      <li>
        <p>About</p>
      </li>
      <li>
        <p>Contact</p>
      </li>
      <li class = "pull-right">
        <a href="www.facebook.com" class="btn btn-default btn-sm">
          <i class="fa fa-facebook fa-fw"></i>
          <span class="network-name">Facebook</span></a>
      </li>
      <li class ="pull-right">
        <a href="www.instagram.com" class="btn btn-default btn-sm"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
      </li>
    </ul>

  </div>
</footer>
