<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        Menu
        <i class="fa fa-bars">
        </i>
      </button>
      <a class="navbar-brand" routerLink = "/">
        <i class="fa fa-camera">
        </i>
        <span class="light">
          Helix Development
        </span>
        <h6>
          Puerto Rico Desde La Azotea
        </h6>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <!-- Show this for logged out users -->
      <ul *showAuthed="false" class="nav navbar-nav ">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li class="dropdown">
          <a class = "page-scroll "href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panorama<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/">Pano Gallery</a></li>
            <li><a routerLink="/">Featured</a></li>
            <li><a routerLink="/">Tutorial</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/">About</a>
        </li>
        <li>
          <a routerLink="/register"
             routerLinkActive="active">Sign Up</a>
        </li>
        <li>
          <a routerLink="/login"
             routerLinkActive="active">Login</a>
        </li>
      </ul>

      <!-- Show this for logged in users -->
      <ul *showAuthed="true" class="nav navbar-nav ">
        <li>
          <a routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="dropdown">
          <a class = "page-scroll "href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panorama<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/">Pano Gallery</a></li>
            <li><a routerLink="/">Featured</a></li>
            <li><a routerLink="/">Tutorial</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/editor"
             routerLinkActive="active">New Panorama</a>
        </li>
        <li>
          <a routerLink="/settings"
             routerLinkActive="active">Settings</a>
        </li>
        <li>
          <a [routerLink]="['/profile', currentUser.username]"
             routerLinkActive="active">
            <img [src]="currentUser.image"
             *ngIf="currentUser.image" class="user-pic"/>{{currentUser.username}}
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/home"
             routerLinkActive="active">Dashboard</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
